# figures directory
figures/*

# ipynb checkpoints
ipynb/.ipynb_checkpoints/*
python/.ipynb_checkpoints/*
fortran/.ipynb_checkpoints/*

# yaml file
python/sms.yaml

# output figures
output/*

# old directories
ipynb/old/*
python/old/*
